.jumbotron{
    background-color: #eeee;
    color: #000;
}
.space{
    padding-top:8rem ;
}
.broker{
    background-color: #cf2e2e;
    border-radius: 2%;
    color: #fff;
}
.color1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}