/* You can add global styles to this file, and also import other style files */
.jumbotron{
    background-color: rgb(8, 5, 5);
    color: #fff;
}
img{
    width: 70%;
}

.controle{
    padding-top: 7%;
}
//  @import "~ngx-spinner/animations/square-jelly-box.css";