.jumbotron{
    background-color: #eee;
    color: #000;
    width: 100%;
    overflow: hidden;
}
.space{
    padding-top:10rem ;
}
img{
    width: 70%;
}

.controle{
    padding-top: 7%;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 60px;
}
